.top-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
  cursor: pointer;
}

.top-btn img {
  width: 3rem;
  height: 3rem;
}
