.main-nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
}
.logo {
  height: 2rem;
  font-size: 2rem;
  font-family: "Sacramento", cursive !important;
}
.main-nav-list {
  // font-family: "Sacramento", cursive !important;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1.7rem;
  align-items: center;
  margin-right: 2rem;
}
.nav__item {
  margin-left: 2rem;
}
.main-nav-link {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 200;
  font-size: 1.8rem;
  transition: all 0.3s;
  cursor: pointer;
}
