.section-project {
  padding: 4rem 10rem 4rem 10rem;
  width: 100%;
}

.project-header {
  padding-left: 5rem;
}
.project-text {
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.project-quotes {
  // margin-left: 5rem;
  font-size: 1.5rem;
  color: #767676;
  line-height: 1;
  font-weight: 400;
}
.projects {
  // max-width: 100rem;
  margin: 5rem auto 2rem auto;
  border: 2px solid #f4eeee;
  border-radius: 5px;
}
.mywork-container {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.project-Container {
  border: 1px solid grey;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.Project-Name {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  color: #009ca8;
}
.Project-Heading {
  font-size: 1.3rem;
  margin-top: 1rem;
  width: 100%;
}
.Project-Details {
  margin-top: 1.6rem;
  line-height: 1.4;
  font-size: 1rem;
}

.project-Container:hover {
  transform: scale(1.1);
  border: 4px solid #ff00ff;
  border-radius: 1rem;
  transition: 0.2s;
}
